.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.icon {
    font-size: 2rem;

    &:hover {
        color: palevioletred;
        cursor: pointer;
        font-size: 3rem;
    }
}

.disable {
    opacity: 0.1;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.add-form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    select {
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50px;
    }

    label {
        font-weight: 500;
    }

    input {
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        max-width: 60px;
        padding: 0 10px;
    }
}

.breed-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.species-selected {
    margin-top: 20px;
}
