.container {
    padding: 3%;
}

body {
    background-color: #f8f9fc;
}

.statistic-item {
    border-left: 5px solid blue;
    border-radius: 3px;
    background-color: white;
    padding: 4%;
    margin: 2% 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.second-row {
    padding: 20px 0;
}
