.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner {
    width: 50% !important;
    div {
        overflow: hidden;
        padding: 2px;
    }
    th {
        text-align: center;
        background-color: #f57c7c;
        color: var(--black);
    }
    tbody,
    tr,
    td {
        select,
        option,
        p {
            font-size: 1.6rem;
        }
    }
    input {
        height: 40px;
        font-size: 1.6rem;
    }
}

.submit-btn {
    display: flex;
    justify-content: center;
    button {
        width: 70%;
        font-weight: bold;
        font-size: 16px;
        padding: 20px;
        background-color: #f57c7c;
        color: var(--black);
        &:hover {
            background-color: #f57c7c;
            opacity: 0.7;
        }
    }
}
.select-btn {
    width: 100%;
}
.title-container {
    width: 100%;
}
.title-post {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f57c7c;
}
.add-btn {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    span {
        margin-left: 10px;
        font-size: 20px;
    }
}
