.delivery-info-component {
    width: 100%;
}
.link-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.wrapper {
    width: 100%;
    min-height: 500px;
    background-color: #e1eff5;
}

.payment {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // width: 100%;
}

.payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    border-right: 1px solid #ccc;
    margin-bottom: 20px;

    overflow: hidden;
    // width: 100%;
    // flex: 1;
}

.payment-method-title {
    color: var(--black);
}

.payment-method-title p {
    font-weight: 700;
    font-size: 1.8rem;
}

.payment-method-item-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    height: 48px;
}

.payment-method-item {
    background-color: #ffc439;
    color: var(--white);
    text-align: center;
    caret-color: transparent;
    min-width: 300px;
    margin: 0 10px;
    padding: 5px 0;
    border-radius: 5px;
    &:hover {
        opacity: 0.9;
    }
}

.payment-method-input-container {
    width: 100%;
    padding: 0 80px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-method-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.payment-method-input p {
    font-weight: 700;
    font-size: 1.8rem;
}

.payment-method-input input {
    border: 1px solid #ccc;
    padding: 10px 2%;
}

.pay-btn {
    height: 50px;
    width: 100%;
    color: var(--white);
    padding: 8px 171px;
    border-radius: 5px;
    margin: 20px 0;

    &:hover {
        opacity: 0.9;
    }
}

//payment-detail

.inner {
    width: 100%;
}

.payment-detail {
    padding: 0 93px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: #fafafa;
    padding: 2%;
}

.payment-detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2% 15%;
}

.payment-detail-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.payment-detail-items-info {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 50px;
    width: 100%;
}
.payment-detail-items p {
    font-weight: 400;
}

.payment-detail-items-img {
    width: 20%;
    border-radius: 10px;
}

.payment-detail-items-img img {
    width: 100%;
}

.payment-detail-promotions {
    display: flex;
    width: 100%;
    gap: 10px;
}

.payment-detail-promotions input {
    border: 1px solid #ccc;
    max-width: 245px;
    padding: 7px 3%;
    border-radius: 5px;
    width: 100%;
}

.payment-detail-promotions button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color: gray;
    padding: 0 20px;
    border-radius: 5px;

    &:hover {
        background-color: #ecc94b;
        color: black;
        font-weight: 600;
        border: 2px solid black;
    }
}

.payment-detail-money {
    display: flex;
    flex-direction: column;
}

.payment-detail-money-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.payment-detail-money-item-title {
    min-width: 170px;
}

.payment-detail-money-item-price {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.total {
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #ccc;
}
