.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    div {
        overflow: hidden;
        display: flex;
        // justify-content: center;
        align-items: center;
        padding: 2px;
    }
    th {
        text-align: center;
        background-color: #f9ede9;
        color: var(--black);
    }
}
.table-container {
    width: 50%;
}
.submit-btn {
    display: flex;
    justify-content: center;
    button {
        width: 50%;
        background-color: #f9ede9;
        color: var(--black);
        &:hover {
            background-color: #f9ede9;
            opacity: 0.7;
        }
    }
}

.haha {
    display: flex !important;
    align-items: center !important;
    // justify-content: start;
    width: 100%;
    gap: 5px;
}
