.edit-button {
    color: #444;
    font-weight: 500;
    margin-top: 0.5%;
    cursor: pointer;
}
.edit-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wrapper {
    padding: 2% 10%;
}

.delivery-info-item {
    margin: 2% 0;

    padding: 0 3%;
    background-color: #f1f1f1;
    width: 100%;
    height: 100px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.information {
    display: flex;

    align-items: center;
    gap: 10px;
    justify-content: center;
    border-top: 3px solid #ccc;
    padding: 3%;
    margin-top: 3%;
}

.add-button {
    color: #444;
}

.add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.add-button-text {
    margin-bottom: 0;
}

.add-button-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    height: 1000px;
    display: flex;
    justify-content: start;
}

.fade-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease, transition-delay 0.5s;
}

.fade-container.show {
    opacity: 1;
    max-height: 1000px; /* Adjust this value based on your content height */
    transition-delay: 0s; /* No delay when showing */
}
.fade-container.showUpdate {
    opacity: 1;
    max-height: 1000px; /* Adjust this value based on your content height */
    transition-delay: 0s;
    margin-top: 2px;
}

.fade-container.hide {
    opacity: 0;
    max-height: 0;
    transition-delay: 0.3s; /* Delay when hiding */
}
