.order-item-index {
    width: 10%;
}
.buy-again-btn {
    font-size: 16px;
}
.wrapper {
    width: 100%;
    padding: 0 50px;
    min-height: 500px;
}

.inner {
    padding: 20px 35px;
    min-height: 100px;
}

.order-card {
    margin-right: 11px;
    margin-bottom: 11px;
}

.order-card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    background-color: #f8f8f8;
    gap: 30px;
    padding: 20px 20px;
    min-height: 300px;
    max-width: 330px;
}

.order-begin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.order-index,
.order-item-info-title,
.total-price {
    font-weight: 600 !important;
}

.order-index {
    display: flex;
    justify-content: space-between;
}
.order-date,
.order-item-info-color,
.total-quantity,
.product-type {
    font-size: 1.3rem;
    color: var(--black-old);
    opacity: 0.4;
    font-weight: 600;
}

.order-item-img {
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.order-item-img img {
    width: 100%;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.order-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.order-item-info-price-and-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.3rem;
        color: var(--black-old);
        // opacity: 0.4;
        font-weight: 600;
    }
}

.order-bottom {
    // display: flex;
    // justify-content: start;
    // align-items: center;
    // overflow: hidden;
}

.order-bottom-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.order-bottom-right {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.order-total-quantity-and-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.status {
}

.title h5 {
    margin: 0 !important;
    line-height: 100% !important;
    overflow: hidden !important;
}

.rate-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.product-container {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.product-img {
    overflow: hidden;
    max-width: 60px;
    max-height: 60px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 0;
    }
}

.rating-star-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
    }
}

.rating-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.rating-input textarea {
    border: 1px solid black;
    min-height: 100px;
    width: 100%;
}

.button-footer {
    gap: 10px;
}
